<% include header%>
<style>
    p.armas {
        color: orange;
    }
    table {
        color: black;
    }
</style>
<h2>Armas</h2>
<form method="post" role="form">
    <p class="armas">Armas identificadas hasta ahora</p>
    <div class="table-responsive">
        <table bgcolor="#E6E6E6" class="table table-hover table-bordered" >
        <thead>
            <tr>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Usuarios</th>
            <th>Singularidad</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Bandera</td>
                <td>Accesorio</td>
                <td>Zombie Abanderado</td>
                <td>Ninguna solo se ve bonito :v.</td>
            </tr>
            <tr>
                <td>Cono</td>
                <td>Protección</td>
                <td>Zombie Caracono</td>
                <td>+18 en Vida.</td>
            </tr>
            <tr>
                <td>Poste</td>
                <td>Accesorio</td>
                <td>Zombie Saltador de Pértiga</td>
                <td>Le permite salar el primer objeto que se tope.</td>     
            </tr>
            <tr>
                <td>Cubo</td>
                <td>Protección</td>
                <td>Zombie Caracubo</td>
                <td>+55 en Vida.</td>     
            </tr>
            <tr>
                <td>Casco</td>
                <td>Protección</td>
                <td>Zombie Deportista</td>
                <td>+70 en Vida.</td>     
            </tr>
            <tr>
                <td>Peluca</td>
                <td>Arma</td>
                <td>Zombie Bailarin</td>
                <td>Le otorga los poderes nigromanticos de Michael Jackson, convocando asi a sus bailarines.</td>     
            </tr>
        </tbody>
        </table>
    </div>
</form>
<% include footer %>