<DOCTYPE html>
<html lang="en">

<style>
    img.logo {
        width:25%;
    }
</style>

<head>
    <meta charset="UTF8">
    <title>Zombies</title>
    <link rel="stylesheet" 
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    </head>

<body class="container" background="https://images.alphacoders.com/596/thumb-1920-596006.jpg">
    <h1>
        <p><img class="logo" src="https://vignette.wikia.nocookie.net/plantsvszombies/images/9/9e/Plants_vs_zombies_icon_v2_by_kamizanon-d4k7h2a.png/revision/latest/scale-to-width-down/480?cb=20160118111923">
        Zombies Corp©
        <a href="/" class="btn btn-danger pull-right">
            Victimas
        </a>
        <a href="/armas" class="btn btn-success pull-right">
            Armas
        </a>
        <a href="/clases" class="btn btn-primary pull-right">
            Clases
        </a>
        </p>
    </h1>
